{{#each monkeys}}
    <!-- <div class="monkeys"> -->
      <div class="monkey">
        <h2>{{name}}</h2>
        <img src="{{image}}">
        <button onclick="loadMoreInfo({{id}})">Info</button>
        <p style="display: none" id="{{id}}">
          {{info}}
        </p>
      </div>
   <!-- </div> -->
{{/each}}