{{#if isAdmin}}
    <h1>Projects</h1>
    <h3>Manage Teams</h3>
    <div class="form">
        <form method="POST" action="/project/distribute">
            <label>Team</label>
            <select name="team">
                {{#each teams}}
                    <option value="{{_id}}">{{name}}</option>                
                {{/each}}               
            </select>
            <label>Project</label>
            <select name="project">
                {{#each projects}}
                    <option value="{{_id}}">{{name}}</option>                
                {{/each}}
            </select>
            <input type="submit" value="Distribute">
        </form>
    </div>
{{else}}
    <h1>Projects</h1>
    <form class="search" action="/project/search">
        <label>Seach: </label>
        <input type="text" name="searchedProject">
        <input type="submit" value="Search">
    </form>
    <div class="projects">
        {{#each projects}}
            <div class="project">
                <h2>{{name}}</h2>
                <h3>Team: {{team}}</h3>
                <p>Description: {{description}}</p>
            </div>
        {{/each}}
    </div>    
{{/if}}